# General
.DS_Store
*.log
.vscode/
.idea/

# Laravel
my_backend/.env
my_backend/.env.backup
my_backend/vendor/
my_backend/node_modules/
my_backend/public/build/
my_backend/public/hot
my_backend/public/storage
my_backend/storage/*.key
my_backend/phpunit.xml

# Flutter/Dart
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.pub-cache/
flutter_app/.pub/
flutter_app/build/
flutter_app/windows/flutter/ephemeral/
flutter_app/windows/flutter/generated_plugin_registrant.cc
flutter_app/linux/flutter/ephemeral/
flutter_app/macos/Flutter/ephemeral/
flutter_app/ios/Pods/
flutter_app/ios/.symlinks/

# Docker
.docker/
docker-compose.override.yml
